nav {
    background-color: #282a35;
    height: 150px;
}

#images {
    display: inline;
    position: absolute;
    margin-top: 30px;
    margin-bottom: 1%;
    right: 41%;
}

img {
    width: 120px;
    height: 120px;

    margin-right: 25px;

}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: #04aa6d;    
}